.login-input {
    display: flex;
    flex-direction: column;
  }
  
  .login-input label {
    font-weight: bold;
  }
  
  .login-input input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-input .eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }